<h1>show de <%= @spotify_account.display_name %></h1>
<ul>
  <% @user.playlists.each do |playlist| %>
  <li>
    <%= playlist.followers %>
    <%= link_to "#{playlist.name} #{playlist.id}", playlist_path(playlist) %>
  </li>
  <% end %>
</ul>
