<h2>
  <%= @playlist.name %>
</h2>
<%=link_to "voir dans spotify", @playlist.spotify_link, target: "blank"%>
<ul>
  <% @playlist.songs.each do |song| %>
  <li>
    <%= song.title %>
    <%= link_to "voir dans spotify", song.spotify_link, target: "blank" %>
  </li>
  <% end %>
</ul>
